* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  background-color: rgb(255, 255, 255);
}
.container {
  max-width: 130rem;
  margin: auto;
  padding: 0 80px;
}
li {
  list-style: none;
  cursor: pointer;
}
a:hover {
  color: rgb(89, 85, 179);
}
a {
  text-decoration: none;
  padding-left: 20px;
  color: rgb(65, 65, 65);
  font-weight: 600;
  font-size: large;
}
.logo {
  width: 150px;
  margin: 10px 35px 0 0;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}
.rightsection {
  width: 40%;
}
.rightsection h1 {
  font-family: "Poppins", sans-serif;
  color: rgb(60, 46, 96);
  font-size: 50px;
  font-weight: bold;
  margin: 80px 25px 20px 20px;
}
.rightsection h1 span {
  font-family: "Poppins", sans-serif;
  color: rgb(89, 85, 179);
}
.rightsection p {
  color: rgb(65, 65, 65);
  margin: 30px;
  padding-right: 10px;
  font-size: 16px;
}

.button1 {
  background-color: rgb(89, 85, 179);
  color: white;
  border: none;
  border-radius: 10px;
  font-family: "Arial";
  font-size: 13px;
  font-weight: 600;
  padding: 10px 18px 10px 18px;
  display: flex;
  align-items: center;
  text-align: center;
  line-height: 24px;
}
.button2 {
  background-color: rgb(89, 85, 179);
  color: white;
  border: none;
  border-radius: 10px;
  font-family: "Arial";
  font-size: 13px;
  font-weight: 600;
  padding: 15px 18px;
  margin-left: 50px;
}
.leftsection img {
  width: 650px;
  margin: 80px 0 0 0;
}
