* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #111827;
  color: #fff;
}
img:hover {
  cursor: pointer;
}
nav {
  margin: 20px;
}
nav ul {
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: center;
  gap: 20px;
}
nav ul li {
  list-style: none;
  font-size: 18px;
}
a {
  text-decoration: none;
  padding: 8px;
}
a:hover {
  cursor: pointer;
  background-color: #4d4dcc;
  border-radius: 15px;
  box-shadow: 0 0 8px #ffff00;
}
.menu {
  width: 20px;
  display: none;
}

.project-section {
  max-width: 100vw;
  margin: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.name-1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
.project p {
  text-align: center;
}
.name-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}
.name-2 h1 {
  font-size: 40px;
}
.name-2 h2 {
  font-size: 25px;
  color: #ffff00;
}
.projects {
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.projects div h1 {
  font-size: 40px;
}
.project-line {
  height: 10px;
  width: 135px;
  background-color: #0000ff;
  border-radius: 20px;
  margin-bottom: 20px;
}
.project-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
  row-gap: 20px;
  column-gap: 20px;
}
.hello {
  height: 45px;
}
.pc-image {
  width: 30vw;
}
.project-image {
  width: 20vw;
}
.projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contact {
  margin: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.contact div h1 {
  font-size: 40px;
}
.contact-line {
  height: 10px;
  width: 200px;
  background-color: blue;
  border-radius: 20px;
  margin-bottom: 20px;
}
.socials {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.icons {
  width: 30px;
  gap: 20px;
}

@media screen and (max-width: 576px) {
  nav ul {
    display: none;
  }
  .menu {
    display: block;
  }
  .project-section {
    display: flex;
    flex-direction: column;
  }
  .pc-image {
    width: 60vw;
  }
  .name-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 20px;
  }
  .name-2 h1 {
    font-size: 40px;
  }
  .name-2 h2 {
    font-size: 25px;
    text-align: center;
  }
  .project-list {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center;
    row-gap: 20px;
    column-gap: 20px;
  }
  .project-image {
    width: 55vw;
  }
  .projects div h1 {
    font-size: 35px;
  }
  .contact div h1 {
    font-size: 35px;
  }
  .contact-line {
    height: 10px;
    width: 180px;
    background-color: blue;
    border-radius: 20px;
    margin-bottom: 20px;
  }
}
