* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  font-family: "IBM Plex Sans", sans-serif;
}

body {
  max-width: 1440px;
  background-color: #f0f4f5;
  overflow: hidden;
  margin: auto;
}

/* designing the navigation menu */
nav {
  height: 15vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5%;
}

/* designing the logo */
nav img {
  width: 150px;
}

/* desiging the navigation menu links */
nav ul {
  display: flex;
  align-items: center;
}

nav ul li {
  list-style: none;
  margin-right: 50px;
  font-weight: 600;
}

nav ul li:first-child {
  font-weight: 700;
  color: #20bc7e;
}

a {
  text-decoration: none;
  color: black;
}
a:hover {
  text-shadow: 0 0 15px #000;
}
/* designing the main section */
main {
  height: 85vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 5%;
}

.hospitalDescription {
  width: 50%;
  text-align: center;
}

.hospitalDescription h1 {
  margin-bottom: 20px;
  color: #20bc7e;
}

.hospitalDescription p {
  font-size: 18px;
  font-weight: 400;
}

/* desinging the achievement card */
.achievement {
  display: flex;
  align-items: center;
  gap: 50px;
  margin-top: 50px;
}

.achievementCard {
  width: 200px;
  height: 100px;
  border-radius: 10px;
  box-shadow: 0 0 10px black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.achievementCard span {
  font-size: 25px;
  font-weight: 700;
  color: #20bc7e;
}

.achievementCard p {
  font-size: 20px;
  font-weight: 500;
}
.achievementCard:hover {
  cursor: pointer;
  transform: translate(4px, -4px);
}
/* Media queries */
@media screen and (max-width: 1200px) {
  nav {
    height: 10vh;
    padding: 0 20px;
  }

  nav img {
    width: 80px;
  }

  nav ul li {
    justify-content: center;
    gap: 20px;
  }
  .stethoscope {
    top: 150px;
  }

  a {
    margin-right: 0px;
    font-weight: 500;
  }
}

@media screen and (max-width: 600px) {
  nav {
    padding: 0 5px;
  }

  nav ul li {
    gap: 13px;
     margin-right:20px;
  }

  a {
    font-weight: 500;
    font-size: 9px;
  }
.stethoscope {
    top: 150px;
  }
  nav img {
    width: 50px;
  }

  .hospitalDescription {
    font-size: 12px;
    width: 100%;
    padding: 0 25px;
  }

  .achievement {
    height: 100px;
    width: 200px;
    margin-top: 50px;
    gap: 20px;
    justify-content: center;
  }
  .achievementCard h1 {
    padding: 2px;
  }
  .achievementCard p {
    padding: 2px;
  }
}
